<div class="class">
    <h1> AQUI É A PAGINA 1 </h1>
    <h2> APRESENTAÇÃO </h2>
    
    <p> Seja bem vindo ao projeto "Não sabemos o que está acontecendo"!</p>
    
    <p> Aqui não sabemos mexer num front-end, então está tudo bagunçado</p>
    <p> Inícios de páginas são marcados com letras grandes e vermelhas e
        a partir daqui se iniciarão testes, então seja paciente </p>
</div>
    <app-first-component></app-first-component>
    
    <app-parent-data [name]="userName" [userData]="userData" [userInfo]="userInfo"></app-parent-data>
    <app-if-render></app-if-render>
    <app-eventos></app-eventos>
