

<div class="class">
    <h1> AQUI É A PAGINA 4 </h1>
    <h2> Aqui está sendo testado if else</h2>
    <div *ngIf="canShow"> SERA QUE PODE APARECER? </div>
    <div *ngIf="beautyNatan; else nameNotFound"> Se isso aparecer, o Natan é gato</div>
    <ng-template #nameNotFound>
         <div> Se isso aparecer, o Natan nao é gato</div>
    </ng-template>
    <div *ngIf="outroTeste !== 31">teste do sinal de diferente: !== </div>
    <div *ngIf="outroTeste === 30">teste do sinal de igual: ===</div>
</div>